<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content="Jeff Moore"/>
    <meta
            name="description"
            content="Franz Chat is an app that leverages Kafka as a backend to a chat app"
    />
    <!-- <link rel="icon" href="favicon.ico" type="image/x-icon" /> -->
    <link rel="stylesheet" type="text/css" href="/static/styles/App.css"/>
    <title>Franz Chat</title>
    <script src="/static/src/htmx.min.js"></script>
</head>
<body>

<header class="header"></header>
<main class="container">
    <div hx-get="/channels" hx-trigger="every 60s" hx-include="[name='channel']" hx-swap="innerHTML" class="channel-list">
        <!-- assume defaultLineLimit + 1 vertical cells where the last cell is the create/subscribe button -->
        <!-- See https://htmx.org/docs/#swapping -->
    </div> <!-- TODO - poll for channels? -->
    <div class="channel-box">
        <!-- TODO - determine how to make a button into a text box, then a button again -->
        <button class="button">Create Channel</button>
    </div>
    <div
        class="chat-log"
        hx-get="/messages"
        hx-trigger="every 30s"
    >
    <!-- hx-swap="afterend" --> <!-- my implementation of hx-swap is incorrect, so I'm opting to replace here -->
    </div>
    <div class="login-box"></div>
    <div class="chat-box">
            <input type="text" name="message" id="chat-box"
                   placeholder="Type here"
                   hx-include="[name='message']"
            >
            <!-- hx-target="#chat-logs" -->
            <!-- https://stackoverflow.com/questions/6890476 -->
            <button id="post-chat" class="button"
                type="submit"
                hx-post="/chat"
                hx-swap="outerHTML"
                hx-include="[name='message']"
            >Enter
            </button>
        <label for="chat-box"></label>
    </div>
</main>
<footer class="footer"></footer>
</body>
</html>
